<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>cn.pcs.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>cn.pcs.web.UI.LoginUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.pcs.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrivilegeServlet</servlet-name>
    <servlet-class>cn.pcs.web.controller.PrivilegeServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivilegeServlet</servlet-name>
    <url-pattern>/servlet/PrivilegeServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
